html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  margin: 0px;
  padding: 0px;
}

// Пока тестовое, если не понравится уберу
.component {
  min-height: 100vh;
  min-width: 320px;
}

.control-dots {
  margin: 0px !important;
  bottom: 47px !important;
}

.dot {
  box-shadow: none !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

.slick-dots {
  bottom: -35px !important;
}

.slick-dots li button:before {
  color: #fff !important;

  transition: .3s;
}

// Для ant design pagination\\
.ant-pagination-next :hover,
.ant-pagination-prev :hover {
  // border: 1px solid red;
  background: transparent !important;
}

.ant-pagination-item-active {
  background: transparent !important;
  border-color: transparent !important;
}

.ant-pagination-item {
  position: relative;

  &:hover {
    background: transparent !important;
  }
}

.ant-pagination-item a {
  opacity: 0.5;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

.ant-pagination-item a:hover {
  opacity: 1;
}

.ant-pagination-item-active a {
  color: #000 !important;

  opacity: 1;
}

// Для ant design pagination\\

@font-face {
  font-family: Indycton Ucs;
  src: url(./public/fonts/Indycton-Ucs.ttf);
}

@font-face {
  font-family: Russo One;
  src: url(./public/fonts/RussoOne-Regular.ttf);

  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url(./public/fonts/Montserrat-Medium.ttf);

  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(./public/fonts/Montserrat-SemiBold.ttf);

  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(./public/fonts/Montserrat-Bold.ttf);

  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url(./public/fonts/Montserrat-ExtraBold.ttf);

  font-weight: 800;
}

@media screen and (max-width: 530px) {
  .control-dots {
    top: 85%;
  }
}