@media screen and (max-width: 1420px) {
    .SecHeader {

        &__wrapper {
            justify-content: center;
        }

        &__nav {
            max-width: 640px;
        }
    }
}

@media screen and (max-width: 1250px) {
    .SecHeader {
        &__wrapper {
            flex-direction: column;
            row-gap: 16px;
        }

        padding-top: 13px;
    }
}

@media screen and (max-width: 768px) {
    .SecHeader {

        &__nav {
            padding: 0px 24px;
        }
    }
}

@media screen and (max-width: 900px) {
    .SecHeader {

        &__nav {
            overflow-x: auto;

            padding-bottom: 14px;
        }
    }
}

@media screen and (max-width: 450px) {
    .SecHeader {

        &__nav {
            column-gap: 14px;

            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

@media screen and (max-width: 420px) {
    .SecHeader {

        &__nav {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}