@media screen and (max-width: 1420px) {
    .wrapper {
        max-width: 996px;
    }
}

@media screen and (max-width: 1100px) {
    .wrapper {
        margin: unset;
        margin-top: 50px;

        padding: 0px 24px;
        padding-left: 44px;
    }

    .info {
        padding: unset;
    }
}

@media screen and (max-width: 620px) {
    .person {
        display: flex;
    }
}

@media screen and (max-width: 520px) {
    .wrapper {
        padding: 0px 16px;
    }

    .info {
        row-gap: 20px;

        &__list {
            row-gap: 10px;
        }

        &__li {
            display: flex;
            column-gap: 10px;

            font-size: 15px;
            line-height: 18px;

            &::before {
                position: unset;

                width: fit-content;
            }
        }

        &__title {
            font-size: 16px;
            line-height: 20px;
        }

        &__text {
            font-size: 15px;
            line-height: 18px;
        }
    }
}

@media screen and (max-width: 420px) {
    .wrapper {
        margin-top: 16px;
    }
}

@media screen and (max-width: 340px) {
    .person {

        &__img {
            max-width: 88px;
            max-height: 88px;
            min-height: 88px;
        }
    }
}