@media screen and (max-width: 1420px) {
    .slider {
        max-width: 1050px;
    }
}

@media screen and (max-width: 1100px) {
    .slider {
        max-width: unset;

        padding: 0px 24px;
    }
}

@media screen and (max-width: 800px) {
    .slider {

        &__button {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {

    .slider {
        overflow: hidden;

        &__more {
            padding: 0px;
        }
    }
}

@media screen and (max-width: 420px) {
    .slider {
        padding: 0px 16px;

        &__more {
            padding: 0px;
        }
    }
}

@media screen and (max-width: 370px) {
    .slider {

        &__slide {
            min-width: 175px;
        }
    }
}