@media screen and (max-width: 1420px){
    .video{
        height: 697px;
    }
}

@media screen and (max-width: 1024px){
    .video{
        height: 502px;
    }
}

@media screen and (max-width: 768px){
    .video{
        height: 377px;
    }
}

@media screen and (max-width: 420px){
    .video{
        height: 206px;
    }
}

@media screen and (max-width: 320px){
    .video{
        height: 157px;
    }
}