@media screen and (max-width: 620px) {
    .customButton {
        padding: 14px 21px;

        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 340px) {
    .customButton {
        font-size: 14px;
        line-height: 17px;
        padding: 12px 24px;
    }
}